<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="pub_ip" value="tcp://10.19.112.100" />
    <add key="pub_port" value="9904" />
    <add key="pub_topic" value="TEST.web.data" />
	<add key="cb_url" value="https://mops.twse.com.tw/server-java/t120sb02_q1?firstin=true&amp;step=12&amp;TYPEK=&amp;bond_kind=&amp;nh=n&amp;filename=&amp;mtypek=&amp;bond_id_1=&amp;bond_id_2=&amp;issuer_stock_code_1=00000&amp;issuer_stock_code_2=99999&amp;issuer=&amp;issue_date_yy_1=&amp;issue_date_mm_1=&amp;issue_date_dd_1=&amp;issue_date_yy_2=&amp;issue_date_mm_2=&amp;issue_date_dd_2=&amp;mature_date_yy_1=&amp;mature_date_mm_1=&amp;mature_date_dd_1=&amp;mature_date_yy_2=&amp;mature_date_mm_2=&amp;mature_date_dd_2=&amp;underwriter=&amp;bd_currency=&amp;issueFlag=&amp;coupon_kind=&amp;coupon_rate_1=&amp;coupon_rate_2=&amp;spec_issue=&amp;guaranteed_0=&amp;eva_kind=&amp;eva_unit=&amp;evarank=&amp;guaranteed_1=&amp;ontime=Y&amp;listornot=&amp;maturity_hmyear_1=&amp;maturity_hmyear_2=&amp;raiseway=&amp;overtime=0" />
    <add key="fo_url" value="https://www.taifex.com.tw/cht/5/fSPDataDown?start_year={0}&amp;start_month={1:00}&amp;end_year={2}&amp;end_month={3:00}&amp;dlFileType=7" />
    <add key="proxy_acc" value="1070046" />
    <add key="proxy_pwd" value="s8943148" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>